@{
    Layout = null;
    int intSlideNumber = Convert.ToInt32(ViewBag.slide); ;
    int maxSlideNumber = 47;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
    @if (intSlideNumber > 1 && intSlideNumber < maxSlideNumber)
    {
	 	@MvcHtmlString.Create("<CENTER><img src='https://cte-s.education.illinois.edu/bbp/slide" + intSlideNumber.ToString() + ".gif' width='600' height='500'></CENTER>")
 		@MvcHtmlString.Create("<CENTER><A HREF=/dotnet/webpages/bbp.aspx?slide=" + (intSlideNumber - 1).ToString() + "><img src=https://cte-s.education.illinois.edu/bbp/prev.gif border=0></A><FONT COLOR=WHITE><B>Slide Number: " + intSlideNumber.ToString() + "</FONT><A HREF=/dotnet/webpages/bbp.aspx?slide=" + (intSlideNumber + 1).ToString() + "><img src=https://cte-s.education.illinois.edu/bbp/next.gif border=0></A></CENTER>");
    }
    else if (intSlideNumber == 1)
    {
	 	@MvcHtmlString.Create("<CENTER><img src='https://cte-s.education.illinois.edu/bbp/slide" + intSlideNumber.ToString() + ".gif' width='600' height='500'></CENTER>");
	 	@MvcHtmlString.Create("<CENTER><img src=https://cte-s.education.illinois.edu/bbp/prev_stop.gif border=0><FONT COLOR=WHITE><B>Slide Number: " + intSlideNumber.ToString() + "</FONT><A HREF=/dotnet/webpages/bbp.aspx?slide=" + (intSlideNumber + 1).ToString() + "><img src=https://cte-s.education.illinois.edu/bbp/next.gif border=0></A></CENTER>");
 	}
    else if (intSlideNumber >= maxSlideNumber)
    {
	 	@MvcHtmlString.Create("<CENTER><img src='https://cte-s.education.illinois.edu/bbp/slide" + intSlideNumber.ToString() + ".gif' width='600' height='500'></CENTER>");
 		@MvcHtmlString.Create("<CENTER><A HREF=/dotnet/webpages/bbp.aspx?slide=" + (intSlideNumber - 1).ToString() + "><img src=https://cte-s.education.illinois.edu/bbp/prev.gif border=0></A><FONT COLOR=WHITE><B>Slide Number: " + intSlideNumber.ToString() + "</FONT><img src=https://cte-s.education.illinois.edu/bbp/next_stop.gif border=0></CENTER>");
    }
                    
    </div>
</body>
</html>
