@model CoTE.Areas.Portals.Models.Danielson

@{

    String[] ratings = { "", "1", "2", "3", "4" };
    String[] midterm_summary = { "", "Do not continue in placement", "Continue only with remediation", "Continue with reservation", "Continue without reservation" };
    String[] final_summary = { "", "Unsatisfactory performance", "Satisfactory performance" };
    String rubric1_link = "";
    String rubric2_link = "";
    String rubric3_link = "";
    String rubric4_link = "";

/*
    switch (uiuc_program_id)
    {
        case "90":
        {
            rubric1_link = "https://cte-s.education.illinois.edu/documents/danielson%20-%20domain%201%20rubric.pdf";
            rubric2_link = "https://cte-s.education.illinois.edu/documents/danielson%20-%20domain%202%20rubric.pdf";
            rubric3_link = "https://cte-s.education.illinois.edu/documents/danielson%20-%20domain%203%20rubric.pdf";
            rubric4_link = "https://cte-s.education.illinois.edu/documents/danielson%20-%20domain%204%20rubric.pdf";
            break;
        }
        default:
        {
            rubric1_link = "https://cte-s.education.illinois.edu/documents/danielson%20-%20domain%201%20rubric.pdf";
            rubric2_link = "https://cte-s.education.illinois.edu/documents/danielson%20-%20domain%202%20rubric.pdf";
            rubric3_link = "https://cte-s.education.illinois.edu/documents/danielson%20-%20domain%203%20rubric.pdf";
            rubric4_link = "https://cte-s.education.illinois.edu/documents/danielson%20-%20domain%204%20rubric.pdf";
            break;
        }
    }
*/
   
    rubric1_link = "https://cte-s.education.illinois.edu/documents/danielson%20-%20domain%201%20rubric.pdf";
    rubric2_link = "https://cte-s.education.illinois.edu/documents/danielson%20-%20domain%202%20rubric.pdf";
    rubric3_link = "https://cte-s.education.illinois.edu/documents/danielson%20-%20domain%203%20rubric.pdf";
    rubric4_link = "https://cte-s.education.illinois.edu/documents/danielson%20-%20domain%204%20rubric.pdf";
 
}

<table class="danielson" border=1 border-color="white" cellpadding="15px">

<tr>

	<td colspan=2 class="domain" valign=top bgcolor="F8F1A0">

  <b><font size="+1">DOMAIN 1: Planning and Preparation (<a href=@rubric1_link target="_blank">Rubric</a>)</font></b>

  <br/><br/><b>

  1a &nbsp;Demonstrating Knowledge of Content and Pedagogy</b>

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Content knowledge &#149; Prerequisite relationships &#149; Content pedagogy

  <br/><br/><b>

  1b &nbsp;Demonstrating Knowledge of Students</b>

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Child development &#149; Learning process &#149; Special needs

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Student skill, knowledge, and proficiency &#149; Interests and cultural heritage

  <br/><br/><b>

  1c &nbsp;Setting Instructional Outcomes</b>

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Value, sequence, alignment &#149; Clarity&nbsp; &#149; Balance

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Suitability for diverse learners

  <br/><br/><b>

  1d &nbsp;Demonstrating Knowledge of Resources</b>

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; For classroom &#149; To extend content knowledge &#149; For students

  <br/><br/><b>

  1e &nbsp;Designing Coherent Instruction</b>

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Learning activities provide maximum practice for each student &#149; Instructional materials and resources designed and sequenced to increase correct responses

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Instructional groups &#149; Developed an appropriate plan for prompting

  <br/><br/><b>

  1f &nbsp;Designing Student Assessments</b>

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Assessments match with outcomes &#149; Criteria and standards

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Formative assessments &#149; Student errors analyzed for use for planning

       <br /><br /><b>Comments</b><br />
       <div id="domain_comments_1">@Html.TextAreaFor(m => m.domain1_comments, 3, 60, new { @title = "Comment" })</div>
       <div id="domain_comments_print_1" hidden="true"></div>

	</td>

	<td colspan=2 class="domain" valign=top bgcolor="78C1F6">

  <B><font size="+1">DOMAIN 2: The Classroom Environment (<a href=@rubric2_link target="_blank">Rubric</a>)</font></B>

  <br/><br/><b>

  2a &nbsp;Creating an Environment of Respect and Rapport</b>

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Teacher interaction with students &#149; Supports/facilitates student interaction with all other students &#149; Supports students in self-monitoring

  <br/><br/><b>

  2b &nbsp;Establishing a Culture for Learning</b>

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Importance of content &#149; Expectations for learning and behavior

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Student pride in work

  <br/><br/><b>

  2c &nbsp;Managing Classroom Procedures</b>

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Management of instructional groups &#149; Management of transitions and instructional pacing for student engagement

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Management of materials and supplies &#149; Performance of non-instructional duties

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Communication with and management of volunteers and paraprofessionals

  <br/><br/><b>

  2d &nbsp;Managing Student Behavior</b>

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Expectations &#149; Monitoring behavior &#149; Response to student positive behaviors is targeted and specific &#149; Preventing misbehaviors by selective reinforcement

  <br/><br/><b>

  2e &nbsp;Organizing Physical Space</b>

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Safety and accessibility &#149; Arrangement of furniture and resources

       <br /><br /><b>Comments</b><br />
       <div id="domain_comments_2">@Html.TextAreaFor(m => m.domain2_comments, 3, 60, new { @title = "Comment" })</div>
       <div id="domain_comments_print_2" hidden="true"></div>

	</td>

</tr>

<tr>

	<td colspan=2 class="domain" valign=top bgcolor="B9D5C6">

  <B><font size="+1">DOMAIN  4: Professional Responsibilities (<a href=@rubric4_link target="_blank">Rubric</a>)</font></B>

  <br/><br/><b>


  4a &nbsp;Reflecting on Teaching</b>

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Accuracy &#149; Use of future teaching

  <br/><br/><b>

  4b &nbsp;Maintaining Accurate Records</b>

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Student completion of assignments

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Student progress in learning &#149; Non-instructional records

  <br/><br/><b>

  4c &nbsp;Communicating with Families</b>

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; About instructional program &#149; About individual students

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Engagement of families in instructional program

  <br/><br/><b>

  4d &nbsp;Participating in a Professional Community</b>

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Relationships with colleagues &#149; Participation in school projects &#149; Takes the appropriate level of initiative

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Involvement in culture of professional inquiry &#149; Service to school

  <br/><br/><b>

  4e &nbsp;Growing and Developing Professionally</b>

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Enhancement of content knowledge and pedagogical skill

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Receptivity to feedback from colleagues and advice is appropriate considered

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Service to the profession

  <br/><br/><b>

  4f &nbsp;Showing Professionalism</b>

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Integrity/ethical conduct &#149;  Service to students &#149; Advocacy

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Decision-making &#149; Compliance with program requirements, school/district regulations

       <br /><br /><b>Comments</b><br />
       <div id="domain_comments_4">@Html.TextAreaFor(m => m.domain4_comments, 3, 60, new { @title = "Comment" })</div>
       <div id="domain_comments_print_4" hidden="true"></div>

	</td>

	<td colspan=2 class="domain" valign=top bgcolor="F4C4EA">

  <B><font size="+1">DOMAIN 3: Instruction (<a href=@rubric3_link target="_blank">Rubric</a>)</font></B>

  <br/><br/><b>

  3a &nbsp;Communicating with Students</b>

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Expectations for learning &#149; Directions, procedures, instruction drew students attention to relevant stimuli

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Explanations of content &#149; Use of oral and written languages

  <br/><br/><b>

  3b &nbsp;Using Questioning and Discussion Techniques</b>

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Quality of questions &#149; Discussion techniques &#149; Student participation

  <br/><br/><b>

  3c &nbsp;Engaging Students in Learning</b>

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Activities and assignments match targeted skills &#149; Student groups

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Instructional materials and resources &#149; Structure and pacing

  <br/><br/><b>

  3d &nbsp;Using Assessment in Instruction</b>

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Assessment criteria &#149; Monitoring of student learning

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Feedback to students &#149; Student self-assessment and monitoring

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Matches data collection systems to lesson outcome/target behavior

 <br/><br/><b>

  3e &nbsp;Demonstrating Flexibility and Responsiveness</b>

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Lesson adjustment &#149; Response to students &#149; Persistence

 <br/><br/><b>

  3f &nbsp;Instructional Delivery</b>

  <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#149; Plans for errorless learning &#149; Selects appropriate prompting that anticipates errors &#149; Prompts are clear, concise, oriented toward students &#149; As many students as possible have the opportunity to participate

       <br /><br /><b>Comments</b><br />
       <div id="domain_comments_3">@Html.TextAreaFor(m => m.domain3_comments, 3, 60, new { @title = "Comment" })</div>
       <div id="domain_comments_print_3" hidden="true"></div>

	</td>

</tr>
<tr>
    <td colspan="4" align="center">

        @if (Model.position != null && Model.position == "C")
        {
            if (Model.eval_type != null && Model.eval_type == "M")
            {
                    <b>Midterm Summary:</b>@Html.DropDownListFor(m => m.summary, new SelectList(midterm_summary))
            }
            else
            {
                    <b>Final Summary:</b>@Html.DropDownListFor(m => m.summary, new SelectList(final_summary))
            }        
        }
            
        <br /><br />
        <b>Signature:</b>  @Html.CheckBoxFor(m => m.signature) 
        <br /><br /><b><i>Note:</i> You may save changes to this form if you plan to return to edit by clicking the Save button. Once you click the signature box you <b><font color="red">WILL NOT</font></b> be able to edit or make changes to this evaluation. <br />Please <b><font color="red">DO NOT</font></b> click on the signature box until you are absolutely sure that you don't want to edit this form again.</b>

        <br/><br/><input type="submit" value="Save" />&nbsp;&nbsp;<input type="button" value="Print" onclick="Print()"/>
    </td>
</tr>
</table>
